
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    background-color: #000;
    color: #fff;
}

#explosao {
    display: none; 
    margin-top: 20px;
    max-width: 100%; 
}
